<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ar Desing Forminhas</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sweetalert")
    @Scripts.Render("~/bundles/jqueryMask")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/fontawesome")
    @Styles.Render("~/Content/css")
    @RenderSection("scripts", required: false)
<script>
        $(document).ready(function () {
            var box = $('#ulMenu');
            // var editUrl = '@Url.Action("detalhes", "Categoria")' + '/';
            var editUrl = "/Categoria/detalhes/";
            $.ajax({
                url: "/home/GetMenu",
                dataType: "JSON",
                success: function (res) {
                    $.each(res, function (i, v) {
                        var fullUrl = editUrl + v.Id;
                        box.append('<li class="nav-item p-2"><a class="menu" href="' + fullUrl + '">' + v.Nome + '</a></li>');

                    })
                }
            });
        });
</script>
</head>
<body>
    
    <nav class="navbar navbar-expand-xl navbar-light bg-light">
        <div class="container">
            <!-- Brand -->
            <a href='@Url.Action("Index", "Home")' class="navbar-brand d-xl-none">
                <img src="~/Content/Imagens/Logo_SemFundo.png" width="70" height="40" />
                Ar Desing Forminhas
            </a>
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav" id="ulMenu">
                </ul>
                <a href='@Url.Action("Index", "Home")' class="navbar-brand mx-auto d-none d-xl-block">
                    <img src="~/Content/Imagens/Logo_SemFundo.png" width="70" height="40" />
                    Ar Desing Forminhas
                </a>
            </div>
        </div>
    </nav>
    @RenderBody()
    <br />
    <footer class="bg-dark bg-cover" style="background-image: url(/Content/Imagens/Footer.png);">
        <div class="py-12 border-bottom border-gray-700">
            <div class="container">
                <div class="row" style="height:200px">
                    <div class="col-12 col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-6 col-sm">&nbsp;<br /></div>
                    <div class="col-6 col-sm">&nbsp;<br /></div>
                    <div class="col-6 col-sm">&nbsp;<br /></div>
                    <div class="col-6 col-sm">&nbsp;<br /></div>
                </div>
            </div>
        </div>
        <div  style="height:30px">
            <div class="container">
                <div class="row">
                    <p class="mb-3 mb-md-0 font-size-xxs text-muted">&copy; @DateTime.Now.Year - Ar Desing Forminhas</p>
                </div>
            </div>
        </div>
    </footer>


</body>
</html>
