@model IEnumerable<ArDesignForminhas_Web.Models.Banner >

@if (Model.Count() <= 0)
{
    <span>Não há Banner cadastrados</span>
}
else
{

    <table id="gridBanner" class="uk-table uk-table-hover uk-table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Codigo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Caminho)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EhHome)
                </th>
                <th>
                    &nbsp;
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelitem => item.Codigo)
                    </td>
                    <td class="w-50">
                        <img src=@Html.DisplayFor(modelitem => item.Caminho) alt="" style="width:40%" />
                        
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.EhHome)
                    </td>
                    <td class="d-flex justify-content-end">
                        <div class="button-group">
                            @Html.ActionLink(" ", "Editar", "Banner", new { id = item.Codigo }, new { @class = "fas fa-edit" })
                            <button type="button" CommandArgument="@item.Codigo" class="btn btn-link">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<script src="~/Scripts/Cadastro/Banner/Listar.js"></script>